

@import "tailwindcss";

@layer components {
  .nav__link {
    @apply relative text-white text-base font-medium w-fit block 
           after:block after:content-[''] after:absolute after:h-[3px]
           after:bg-yellow-400 after:w-full after:scale-x-0
           after:transition-transform after:duration-300 after:origin-bottom-right;
  };

  .nav__link:hover::after {
    @apply scale-x-100 origin-bottom-left;
  }

  .text-bg{
    background-image: linear-gradient(to right, #8750f7 0%, white 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  };

  .custom-scrollbar::-webkit-scrollbar{
    width: 10px;
    height: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-track{
    background: #44028f;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb{
    background: #c277fa;
    border-radius: 4px;
  };

};
